<div class="jumbotron">
  <div class="container">
    <h1>Developer Dictionary</h1>

    <form>
      <div class="form-group">
       <input type="text" class="form-control" placeholder="Search for term" />
      </div>
    </form>

    <div class="result well"></div>

    <%= link_to 'Add new term', new_term_path %>
  </div>
</div>
